// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$giftorange: #F88F42;
$giftdarkorange: #EF6D24;
$giftheader: #554A48;
$giftbackground: #F9F3F0;
$gifttagunselected: #4E4C4A;
$gifttagselected: #70C553;
