//navbar
.profileicons{
  font-size: 18pt;
  color: black;
}

//profile
#pimg{
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
.infosection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pinfos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//users event index
.youreventinfo{
  padding-left: 5%;
}
.youreventinfo p{
  margin-top: 2%;
  margin-bottom: 4%;
}
#yeventsheader{
  text-align: start;
  margin-left: 10%;
}
.hrevents{
  margin: 0 10%;
}
.yourevents{
  margin: 5% 10%;
}
.youreventsimg{
  width: 20%;
  height: 30%;
}



@media screen and (min-width: 700px) {
  #pimg{
    width: 30%;
    height: 30%;
  }
}
@media screen and (min-width: 900px) {
  #pimg{
    width: 18%;
    height: 18%;
  }
  .wholepage{
    display: flex;
  }
  .eventsection{
    width: 40%;
  }
}
