<%= render "shared/calendar" %>

<ul>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
</ul>
<ul>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
  <li>info</li>
</ul>
