// Chatroom box
.chatroombox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.chatroom-input {
  outline: none;
  background-color: #F9F3F0;
}

.form-control {
  background: #FFFFFF;
  border: none;
}

// Chat

.chat {
  margin-bottom: 25px;
  padding: 6px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 350px;
}

.chat a {
  text-decoration: none;
  color: black;
}

// Chat info

.chatinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.chatinfo img{
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

// Chat text

.chattext p{
  margin: 0;
  padding: 0;
}
