.event {
  font-size: 20px;
}
.event h1, h2, h3 {
  text-align: center;
  justify-content: center;
}

.event body > img {
  align-items: center;
}
// EVENT Show page
.sharebtn{
  border: 1px solid gray;
  width: 93px;
  border-radius: 10%;
  padding-left: 5px;
  font-size: 20px;
  background-color: #F88F42;
}
.sharebtn:hover{
  font-weight: bold;
}
.sendicon{
  position: relative;
  top: 4px;
}
