.event {
  font-size: 20px;
}
.event h1, h2, h3 {
  text-align: center;
  justify-content: center;
}

.event body > img {
  align-items: center;
}
// EVENT Show page
.sharebtn{
  color: #EF6D24;
  font-weight: 500;
}

.sendicon{
  position: relative;
  top: 4px;
}
// Events container

.events-container{
  padding: 20px;
}

.events-container a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #EF6D24;
}

// Event container
.event-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.event-container p{
  padding: 0;
  margin: 0;
}

.event-container img {
  padding-right: 15px;
}


//modal design
.modalpopupheaderfield{
  background-color: #F88F42;
  border-radius: 10px 10px 0 0;
}
.modalbackground{
  background-color: rgba(255, 222, 89, 0.185);
  backdrop-filter: blur(4px);
}
.modal-dialog{
  border-radius: 10px ;
}
.modal-content{
  background-color: rgb(254, 245, 234);
  border-radius: 10px;
}
.modalsendbtn{
  color: #F88F42;
  // border: 1px grey solid;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 50px;
}
.fa-paper-plane{
  margin-left: 7px;
}
