.footer-box {
  text-align: center;
  padding: 10px;
  height: 100%;
}

.footer-box img {
  padding-bottom: 2px;
}

.footer-box p {
  color: #fff;
  margin: 0;
}

.footer-box:hover{
  background: #EF6D24;
}
