// body {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

footer {
  height: 80px;
  border-radius: 10px 10px 0 0;
  background: #F88F42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

footer a{
  color: #fff;
  text-decoration: none;
  height: 100%;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
  height: 100%;
}

a.active {
  background-color: #EF6D24;
  height: 100%;
}

a.active:first-child {
  background-color: #EF6D24;
  height: 100%;
  border-radius: 10px 0 0 0;
}

a.active:last-child {
  background-color: #EF6D24;
  height: 100%;
  border-radius: 0 10px 0 0;
}
