.giftheader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #554A48;
}


.giftheader-profile {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 30px 20px 15px 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #554A48;
  border-bottom: 1px solid #DBDBDB;
}
