.navbar-lewagon {
  justify-content: flex-end;
  background: #FCF9F7;
  border-bottom: 1px solid #DBDBDB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-brand {
  opacity: 0;
}
