.hobbies {
  color: rgba(95, 47, 73, 0.692)83;
  font-weight: bold;
  text-decoration: none;
  background-color: #b33d1ab6;
  border-radius: 25px;
  color: rgb(226, 168, 168);
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.show-hobbies {
  color: rgba(95, 47, 73, 0.692)83;
  font-weight: bold;
  text-decoration: none;
  background-color: #b33d1ab6;

  border-radius: 25px;
  color: rgb(226, 168, 168);
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
